@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --blue: #3b9cff;
  --lightBlue: #6eb6ff;
  --lightLightBlue: #a1d0ff;
  --black: #000000;
  --darkGrey: #111111;
  --lightGrey: #2a2a2a;
}

html {
  height: 100%;
  font-family: helvetica, sans-serif;
}

body {
  height: 100%;
  margin: 0;
  background-color: whitesmoke;
}

.centered {
  /* margin: 3rem auto; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: 1px solid black;
}

.header-test {
  border: 1px solid red;
}

li {
  display: inline;
  padding: 5px;
}

.homepage-header {
  color: var(--lightGrey);
  background-image: url("./assets/HeaderBackground.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
}

.searchpage-resultspage-header {
  color: var(--lightGrey);
  background-image: url("./assets/ResaleFlatPricesHeaderBackground.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
}

.header {
  border: 2px solid black;
}

.results-header {
  color: white;
  background-color: var(--lightGrey);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 35vh;
}

.footer {
  color: white;
  background-color: #2a2a2a;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
}
