@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --blue: #3b9cff;
  --lightBlue: #6eb6ff;
  --lightLightBlue: #a1d0ff;
  --black: #000000;
  --darkGrey: #111111;
  --lightGrey: #2a2a2a;
}

html {
  height: 100%;
  font-family: helvetica, sans-serif;
}

body {
  height: 100%;
  margin: 0;
  background-color: whitesmoke;
}

.centered {
  /* margin: 3rem auto; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  display: inline;
  padding: 5px;
}

.homepage-header {
  text-align: center;
  color: var(--lightGrey);
  background-image: url("./assets/HeaderBackground.jpg");
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}

.landing-page-background {
  background-image: url("./assets/LandingPageBackground.jpg");
  opacity: 0.7;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.login-container {
  /* guiding border */
  border: 2px solid green;

  height: auto;
  max-width: 40vw;

  /* center horizontally */
  /* margin: 0 auto; */

  /* center horizontally and vertically */
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-side-image {
  border: 2px solid white;
  height: auto;
  width: 100%;
}

.login-entry-container {
  border: 1px solid black;
  height: auto;
  width: 100%;
  background-color: var(--lightBlue);
}

.login-entry-hdb-logo {
  border: 2px solid red;
  padding: 2px;
  height: auto;
  width: 50%;
  margin: auto;
  display: block;
}
